<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.xpensemobileapp">
    <!-- Provide access to camera -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Xpense"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XpenseMobileApp"
        tools:targetApi="31">
        <activity
            android:name=".income.IncomeReportOverviewActivity"
            android:exported="false" />
        <activity
            android:name=".IncomeReportActivity"
            android:exported="false" />
        <activity
            android:name=".IncomeFormActivity"
            android:exported="false" />
        <activity
            android:name=".EditIncomeActivity"
            android:exported="false" />
        <activity
            android:name=".IncomeOverviewActivity"
            android:exported="false" />
        <activity
            android:name=".incomeDashboard"
            android:exported="false" />
        <activity
            android:name=".Add_income"
            android:exported="false" />
        <activity
            android:name=".expense.EditExpenseActivity"
            android:exported="false"
            />
        <activity
            android:name=".Navigation_drawer"
            android:exported="false"
            android:theme="@style/Theme.XpenseMobileApp.NoActionBar" />
        <activity
            android:name=".TtestingHome"
            android:exported="false" />
        <activity
            android:name=".expense.ExpenseOverviewActivity"
            android:exported="false"
            android:parentActivityName=".expense.ExpensesDashboardActivity"/>
        <activity
            android:name=".SignUp_page"
            android:exported="false" />
        <activity
            android:name=".Login_page"
            android:exported="false" />
        <activity
            android:name=".login_signup"
            android:exported="false" />
        <activity
            android:name=".expense.ExpenseFormActivity"
            android:exported="false"
            android:parentActivityName=".expense.ExpensesDashboardActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>